Repository serious-scaffold/ss-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
        stages: [push]
      - id: pretty-format-json
        args: [--autofix]
      - id: requirements-txt-fixer
        args:
          [
            constraints/default.txt,
            requirements/docs.txt,
            requirements/lint.txt,
            requirements/package.txt,
            requirements/requirements.txt,
            requirements/tests.txt,
          ]
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: pipenv run python -m black
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: make mypy
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: flake8
        name: flake8
        language: system
        entry: pipenv run python -m flake8
        types: [python]
      - id: pylint
        name: pylint
        language: system
        entry: pipenv run python -m pylint
        types: [python]
        require_serial: true
      - id: toml-sort
        name: toml-sort
        language: system
        entry: pipenv run toml-sort -a -i
        types: [toml]

Refine makefile.
  Makefile
  requirements/package.txt
Due: none

Add docs.
  Makefile
  README.md
  docs/cli/index.rst
  docs/conf.py
  docs/index.rst
  pyproject.toml
  requirements/tests.txt
Due: black, mypy, flake8, pylint, toml-sort

Minor.
  .gitignore
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  requirements/runtime.txt
Due: black, mypy, flake8, pylint, toml-sort

Minor doc clean.
  docs/index.rst
Due: none

Flake8 plugins.
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  requirements/lint.txt
  src/serious_scaffold/settings.py
Due: black, mypy, flake8, pylint, toml-sort

Pylint config.
  pyproject.toml
Due: toml-sort

Add .gitlab-ci.yml.
  .gitlab-ci.yml
  Makefile
Due: none

Make test and typer.
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  requirements.txt
  requirements/test.txt
  src/serious_scaffold/cli.py
  src/serious_scaffold/settings.py
  tests/cli_test.py
  tests/pkg_test.py
  tests/settings_test.py
Due: black, mypy, flake8, pylint, toml-sort

github workflow.
  .github/workflows/lint.yml
  .github/workflows/tset.yml
  pyproject.toml
  requirements.txt
  requirements/lint.txt
Due: toml-sort

Add documentation-links github actions.
  .github/workflows/documentation-links.yml
Due: none

Add readthedocs.yaml.
  .readthedocs.yaml
Due: none

Fix typer cli docs.
  docs/cli/index.rst
  src/serious_scaffold/cli.py
Due: black, mypy, flake8, pylint

Simplify the cli command.
  src/serious_scaffold/cli.py
Due: black, mypy, flake8, pylint

Fix test.
  tests/cli_test.py
Due: black, mypy, flake8, pylint

Simplify github actions.
  .github/workflows/lint-test.yml
  .github/workflows/lint.yml
  .github/workflows/readthedocs-preview.yml
  .github/workflows/tset.yml
Due: none

Add github actions for package.
  .github/workflows/package.yml
Due: none

Add constraints.
  .github/workflows/lint-test.yml
  .github/workflows/package.yml
  constraints/default.txt
Due: none

Update makefile.
  Makefile
Due: none

Add vscode related settings and recommendations.
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Fix makefile.
  Makefile
Due: none

Update vscode settings.
  .vscode/settings.json
Due: none

Update vscode settings.
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Add docs for api.
  docs/api/index.rst
  docs/api/serious_scaffold.settings.rst
  docs/index.rst
Due: none

Rename API to Modules.
  docs/index.rst
  docs/modules/index.rst
  docs/modules/serious_scaffold.settings.rst
Due: none

More strict mypy configuration.
  pyproject.toml
  src/serious_scaffold/cli.py
  tests/cli_test.py
Due: black, mypy, flake8, pylint, toml-sort

Add pytest config.
  pyproject.toml
Due: toml-sort

Add .swp to .gitignore.
  .gitignore
Due: none

Minor refine for vscode settings.
  .vscode/settings.json
Due: none

Minor refine for Makefile and pyproject.toml.
  Makefile
  pyproject.toml
Due: toml-sort

Use ruff for lint.
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  constraints/default.txt
  pyproject.toml
  requirements/lint.txt
Due: toml-sort

Remove gitlab ci.
  .gitlab-ci.yml
Due: none

Update precomit hook version.
  .pre-commit-config.yaml
Due: none

More robust ruff usage.
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  docs/conf.py
  pyproject.toml
  src/serious_scaffold/__init__.py
  src/serious_scaffold/cli.py
  src/serious_scaffold/settings.py
  tests/__init__.py
  tests/cli_test.py
  tests/pkg_test.py
  tests/settings_test.py
Due: black, mypy, flake8, pylint, toml-sort

Use autodoc-pydantic.
  .vscode/settings.json
  constraints/default.txt
  docs/conf.py
  docs/modules/serious_scaffold.settings.rst
  requirements/docs.txt
  src/serious_scaffold/settings.py
Due: black, mypy, flake8, pylint

Use codecov.
  .github/workflows/lint-test.yml
  .vscode/settings.json
Due: none

Use codecov for Python 3.8 only.
  .github/workflows/lint-test.yml
Due: none

Debug codecov
  .github/workflows/lint-test.yml
Due: none

Revert codecov debug.
  .github/workflows/lint-test.yml
Due: none

Add .DS_Store to gitignore.
  .gitignore
Due: none
