Repository serious-scaffold/ss-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      - id: no-commit-to-branch
        stages: [push]
      - id: pretty-format-json
        args: [--autofix]
      - id: requirements-txt-fixer
        args:
          [
            constraints/default.txt,
            requirements/docs.txt,
            requirements/lint.txt,
            requirements/package.txt,
            requirements/requirements.txt,
            requirements/tests.txt,
          ]
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: pipenv run python -m black
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: make mypy
        types: [python]
        require_serial: true
        pass_filenames: false
      - id: flake8
        name: flake8
        language: system
        entry: pipenv run python -m flake8
        types: [python]
      - id: pylint
        name: pylint
        language: system
        entry: pipenv run python -m pylint
        types: [python]
        require_serial: true
      - id: toml-sort
        name: toml-sort
        language: system
        entry: pipenv run toml-sort -a -i
        types: [toml]

Config toml-sort in pyproject.toml with trailing comma.
  Makefile
  Makefile.jinja
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Add check for toml-sort in pre-commit.
  .pre-commit-config.yaml
Due: none

Unify isort config.
  .pre-commit-config.yaml
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Config refine for toml-sort and isort. (#22)
  .pre-commit-config.yaml
  Makefile
  Makefile.jinja
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Fix typo for make clean in Makefile.
  Makefile
Due: none

Fix typo for make clean in Makefile. (#23)
  Makefile
Due: none

Compatible with yaml-sort extension v6.5.0.
  .vscode/settings.json
  Makefile.jinja
  copier.yaml
Due: none

Compatible with yaml-sort extension v6.5.0. (#24)
  .vscode/settings.json
  Makefile.jinja
  copier.yaml
Due: none

Update constraints.
  constraints/default.txt
Due: none

Fix lint.
  pyproject.toml
  tests/cli_test.py
  tests/cli_test.py.jinja
Due: black, mypy, flake8, pylint, toml-sort

Fix lint.
  pyproject.toml
Due: toml-sort

Update constraints. (#25)
  constraints/default.txt
  pyproject.toml
  tests/cli_test.py
  tests/cli_test.py.jinja
Due: black, mypy, flake8, pylint, toml-sort

Update template accordingly.
  pyproject.toml.jinja
Due: none

Update template accordingly. (#32)
  pyproject.toml.jinja
Due: none

Add dev
  pyproject.toml.jinja
  requirements/dev.txt
Due: none

Update dev
  Makefile
Due: none

update dev
  Makefile
  Makefile.jinja
Due: none

Add site-packages in pre-commit
  .pre-commit-config.yaml
Due: none

sort package order
  requirements/dev.txt
Due: none

Revert and add docs
  .pre-commit-config.yaml
  Makefile.jinja
  README.md
  pyproject.toml.jinja
  requirements/dev.txt
Due: none

Add docs for necessary system-level dependencies for development (#33).
  README.md
Due: none

Try.
  .github/workflows/ci.yml
Due: none

Test.
  .github/workflows/ci.yml
Due: none

Check template consistency via Github Actions.
  .github/workflows/ci.yml
Due: none

Fix the inconsistency in README.
  README.md.jinja
Due: none

Add ci yaml template.
  .github/workflows/ci.yml.jinja
Due: none

Fix escape of double brackets.
  .github/workflows/ci.yml.jinja
Due: none

Check template consistency via Github Actions. (#34)
  .github/workflows/ci.yml.jinja
  README.md.jinja
Due: none

Check minimal test coverage in make tests.
  Makefile
  Makefile.jinja
Due: none

Check minimal test coverage in make tests. (#35)
  Makefile
  Makefile.jinja
Due: none

Test for codecov.
  src/serious_scaffold/cli.py
  src/{{ module_name }}/cli.py
Due: black, mypy, flake8, pylint

Debug.
  .github/workflows/ci.yml
Due: none

Set ci env.
  .github/workflows/ci.yml
Due: none

Use template variable instead.
  .github/workflows/ci.yml
  .vscode/settings.json
  Makefile
  Makefile.jinja
  copier.yaml
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Fix consistency.
  .github/workflows/ci.yml
Due: none

Test.
  .github/workflows/ci.yml
  .github/workflows/ci.yml.jinja
  copier.yaml
Due: none

Add codecov.yml.
  codecov.yml
  codecov.yml.jinja
Due: none

Change default for test coverage threshold.
  copier.yaml
Due: none
