Repository serious-scaffold/ss-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

black:
  name: black
  language: system
  entry: pipenv run python -m black

mypy:
  name: mypy
  language: system
  entry: make mypy
  require_serial: true
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: pipenv run python -m flake8

pylint:
  name: pylint
  language: system
  entry: pipenv run python -m pylint
  require_serial: true

toml-sort:
  name: toml-sort
  language: system
  entry: pipenv run toml-sort -a -i

GitLab: Create a release when a new tag created. (#54)
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  .vscode/settings.json
Due: none

Add badge for ruff.
  README.md
  README.md.jinja
Due: none

Add badge for ruff. (#62)
  README.md
  README.md.jinja
Due: none

Upgrade settings module using pydantic setting v2.
  constraints/default.txt
  requirements.txt
  src/serious_scaffold/settings.py
  src/{{ module_name }}/settings.py.jinja
Due: black, mypy, flake8, pylint

Update.
  Makefile
  docs/api/index.rst
  docs/api/index.rst.jinja
  docs/api/settings.rst
  docs/api/settings.rst.jinja
  docs/conf.py
  docs/conf.py.jinja
  docs/index.rst
  docs/modules/index.rst
  src/serious_scaffold/settings.py
  src/{{ module_name }}/settings.py.jinja
Due: black, mypy, flake8, pylint

Fix consistency.
  Makefile.jinja
  docs/api/index.rst.jinja
  docs/index.rst.jinja
Due: none

Try to hack the compatibility problem.
  pyproject.toml.jinja
  src/serious_scaffold/settings.py
  src/{{ module_name }}/settings.py.jinja
Due: black, mypy, flake8, pylint

Order.
  src/serious_scaffold/settings.py
  src/{{ module_name }}/settings.py.jinja
Due: black, mypy, flake8, pylint

Add pydantic v2 badge.
  README.md
  README.md.jinja
Due: none

Upgrade settings module using pydantic setting v2. (#67)
  Makefile
  Makefile.jinja
  README.md
  README.md.jinja
  constraints/default.txt
  docs/api/index.rst
  docs/api/index.rst.jinja
  docs/api/settings.rst
  docs/api/settings.rst.jinja
  docs/conf.py
  docs/conf.py.jinja
  docs/index.rst
  docs/index.rst.jinja
  docs/modules/index.rst
  docs/modules/index.rst.jinja
  pyproject.toml.jinja
  requirements.txt
  src/serious_scaffold/settings.py
  src/{{ module_name }}/settings.py.jinja
Due: black, mypy, flake8, pylint

Make single command as subcommands with documentation.
  src/{{ module_name }}/cli.py
  src/{{ module_name }}/cli.py.jinja
Due: black, mypy, flake8, pylint

Fix test.
  src/serious_scaffold/cli.py
  src/{{ module_name }}/cli.py.jinja
  tests/cli_test.py
  tests/cli_test.py.jinja
Due: black, mypy, flake8, pylint

Fix tests.
  tests/cli_test.py
  tests/cli_test.py.jinja
Due: black, mypy, flake8, pylint

Make single command as subcommands with documentation. (#70)
  src/{{ module_name }}/cli.py
  src/{{ module_name }}/cli.py.jinja
  tests/cli_test.py
  tests/cli_test.py.jinja
Due: black, mypy, flake8, pylint

Add mypy and test coverage report for docs.
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  .readthedocs.yaml
  Makefile
  Makefile.jinja
  copier.yaml
  requirements/lint.txt
  src/serious_scaffold/cli.py
  src/{{ module_name }}/cli.py.jinja
Due: black, mypy, flake8, pylint

Add report in github actions.
  .github/workflows/release.yml
Due: none

Disable docs mypy reports due to error on readthedocs.
  Makefile
  Makefile.jinja
Due: none

Unify the path to readthedocs.
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  Makefile
  Makefile.jinja
Due: none

Try to override the build process for readthedocs.
  .readthedocs.yaml
Due: none

No redundant make reports.
  .github/workflows/release.yml
  .gitlab-ci.yml
  .readthedocs.yaml
  Makefile
  Makefile.jinja
  docs/cli/index.rst
  docs/index.rst
  docs/reports/coverage/index.rst
  docs/reports/index.rst
  docs/reports/mypy/index.rst
Due: none

Merge requirements.
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  .readthedocs.yaml
  requirements/docs.txt
  requirements/lint.txt
Due: none

Consistency.
  .gitlab-ci.yml.jinja
  Makefile.jinja
  docs/cli/index.rst.jinja
  docs/index.rst.jinja
Due: none

Add mypy and test coverage reports for docs. (#72)
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  .readthedocs.yaml
  Makefile
  Makefile.jinja
  copier.yaml
  docs/cli/index.rst
  docs/cli/index.rst.jinja
  docs/index.rst
  docs/index.rst.jinja
  docs/reports/coverage/index.rst
  docs/reports/index.rst
  docs/reports/mypy/index.rst
  requirements/docs.txt
  src/serious_scaffold/cli.py
  src/{{ module_name }}/cli.py.jinja
Due: black, mypy, flake8, pylint

More elegant public dir.
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  Makefile
  Makefile.jinja
Due: none

More elegant public dir. (#73)
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  Makefile
  Makefile.jinja
Due: none

Use native readthedocs build instead.
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  .readthedocs.yaml
  .vscode/settings.json
  Makefile
Due: none

Set fail_on_warning to true.
  .readthedocs.yaml
Due: none

Use coverage directly instead of pytest-cov plugin.
  Makefile
  Makefile.jinja
  constraints/default.txt
  pyproject.toml
  pyproject.toml.jinja
  requirements/docs.txt
  requirements/tests.txt
Due: toml-sort

Use native readthedocs build instead. (#74)
  .github/workflows/release.yml
  .gitlab-ci.yml
  .gitlab-ci.yml.jinja
  .readthedocs.yaml
  .vscode/settings.json
  Makefile
  Makefile.jinja
  constraints/default.txt
  pyproject.toml
  pyproject.toml.jinja
  requirements/docs.txt
  requirements/tests.txt
Due: toml-sort

Try to fix coverage report path for readthedocs.
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Complete for test.
  Makefile
Due: none

Use editable install.
  .readthedocs.yaml
Due: none

Should work!
  Makefile
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Again!
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Fix coverage report path for readthedocs. (#75)
  .readthedocs.yaml
Due: none

No pdf/epub on readthedocs.
  .readthedocs.yaml
Due: none

No pdf/epub on readthedocs. (#77)
  .readthedocs.yaml
Due: none

Better consistency check.
  .github/workflows/ci.yml
  .github/workflows/ci.yml.jinja
  src/{{ module_name }}/settings.py.jinja
Due: none

Test.
  .github/workflows/ci.yml
  .github/workflows/ci.yml.jinja
Due: none

Test.
  .github/workflows/ci.yml
  .github/workflows/ci.yml.jinja
  src/{{ module_name }}/settings.py.jinja
Due: none

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: \.toml$
