Repository serious-scaffold/ss-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

black:
  name: black
  language: system
  entry: pipenv run python -m black

mypy:
  name: mypy
  language: system
  entry: make mypy
  require_serial: true
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: pipenv run python -m flake8

pylint:
  name: pylint
  language: system
  entry: pipenv run python -m pylint
  require_serial: true

toml-sort:
  name: toml-sort
  language: system
  entry: pipenv run toml-sort -a -i

Slim readthedocs configuration.
  .readthedocs.yaml
Due: none

Update constraints.
  constraints/default.txt
Due: none

Init version. (#1)
  .github/workflows/lint-test.yml
  .github/workflows/package.yml
  .github/workflows/readthedocs-preview.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  README.md
  constraints/default.txt
  docs/cli/index.rst
  docs/conf.py
  docs/index.rst
  docs/modules/index.rst
  docs/modules/serious_scaffold.settings.rst
  pyproject.toml
  requirements.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/package.txt
  requirements/test.txt
  src/serious_scaffold/__init__.py
  src/serious_scaffold/cli.py
  src/serious_scaffold/settings.py
  tests/__init__.py
  tests/cli_test.py
  tests/pkg_test.py
  tests/settings_test.py
Due: black, mypy, flake8, pylint, toml-sort

Fix PyPI package upload.
  .github/workflows/package.yml
Due: none

Fix PyPI package upload. (#2)
  .github/workflows/package.yml
Due: none

Fix meta error for license.
  pyproject.toml
Due: toml-sort

Fix meta error for license. (#3)
  pyproject.toml
Due: toml-sort

Add sponsors badge.
  .github/FUNDING.yml
Due: none

Add sponsors badge. (#4)
  .github/FUNDING.yml
Due: none

Minor changes mostly for badge.
  .github/workflows/lint-test.yml
  .github/workflows/readthedocs-preview.yml
  README.md
  pyproject.toml
Due: toml-sort

Minor changes mostly for badge. (#5)
  .github/workflows/lint-test.yml
  .github/workflows/readthedocs-preview.yml
  README.md
  pyproject.toml
Due: toml-sort

Add hyperlinks for badges.
  README.md
Due: none

Add hyperlinks for badges. (#6)
  README.md
Due: none

More contents for README.
  .vscode/settings.json
  README.md
  docs/_static/images/logo.png
Due: none

Adjust the height for logo.
  README.md
Due: none

More contents for README. (#7)
  .vscode/settings.json
  README.md
  docs/_static/images/logo.png
Due: none

Refine README.
  README.md
Due: none

Refine README. (#8)
  README.md
Due: none

Rename lint-test.yml to ci.yml with badges refined.
  .github/workflows/ci.yml
  README.md
Due: none

Rename lint-test.yml to ci.yml with badges refined. (#9)
  .github/workflows/ci.yml
  README.md
Due: none

Add isort in pre-commit and CI (with Makefile).
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  README.md
  constraints/default.txt
  requirements/lint.txt
Due: none

Add isort in pre-commit and CI (with Makefile). (#10)
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  README.md
  constraints/default.txt
  requirements/lint.txt
Due: none

Refine roadmap in README.
  README.md
Due: none

Refine roadmap in README. (#11)
  README.md
Due: none

Reorder badges.
  README.md
Due: none

Reorder badges. (#12)
  README.md
Due: none

Fix sponsors link.
  README.md
Due: none

Fix sponsors link. (#13)
  README.md
Due: none

Run CI for pull request synchronize event only.
  .github/workflows/ci.yml
Due: none

Run CI for pull request synchronize event only. (#14)
  .github/workflows/ci.yml
Due: none

Run CI for main branch push.
  .github/workflows/ci.yml
Due: none

Run CI for main branch push. (#15)
  .github/workflows/ci.yml
Due: none

Add pre-commit for copier reject files.
  .pre-commit-config.yaml
Due: none

Minor test.
  copier.yaml
  docs/conf.py.jinja
  docs/index.rst.jinja
  {{_copier_conf.answers_file}}.jinja
Due: none

Tempalte configuration.
  .vscode/settings.json
  copier.yaml
Due: none

Init template.
  .github/FUNDING.yml
  .github/FUNDING.yml.jinja
  .github/workflows/readthedocs-preview.yml.jinja
  .vscode/settings.json.jinja
  copier.yaml
  docs/cli/index.rst
  docs/cli/index.rst.jinja
  docs/modules/index.rst.jinja
  docs/modules/serious_scaffold.settings.rst
  docs/modules/serious_scaffold.settings.rst.jinja
  pyproject.toml.jinja
  src/{{ module_name }}/__init__.py
  src/{{ module_name }}/cli.py
  src/{{ module_name }}/settings.py.jinja
  tests/cli_test.py.jinja
  tests/pkg_test.py
  tests/pkg_test.py.jinja
  tests/settings_test.py.jinja
Due: black, mypy, flake8, pylint

Add .gitignore template.
  .gitignore.jinja
Due: none

Unify name for tests.
  .github/FUNDING.yml
  .github/workflows/ci.yml
  .github/workflows/readthedocs-preview.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  README.md.jinja
  pyproject.toml
  requirements/tests.txt
  tests/cli_test.py.jinja
  tests/pkg_test.py.jinja
  tests/settings_test.py.jinja
Due: toml-sort

Add generated contents.
  README.md.jinja
  docs/cli/index.rst
  docs/conf.py
  docs/index.rst
  docs/modules/index.rst
  docs/modules/serious_scaffold.settings.rst
  pyproject.toml
  pyproject.toml.jinja
  src/serious_scaffold/__init__.py
  src/serious_scaffold/cli.py
  src/serious_scaffold/settings.py
  tests/cli_test.py
  tests/pkg_test.py
  tests/settings_test.py
Due: black, mypy, flake8, pylint, toml-sort

Fix template.
  .github/FUNDING.yml.jinja
  .vscode/settings.json
  docs/conf.py.jinja
  docs/index.rst.jinja
Due: none

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: \.toml$
