Repository serious-scaffold/ss-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

black:
  name: black
  language: system
  entry: pipenv run python -m black

mypy:
  name: mypy
  language: system
  entry: make mypy
  require_serial: true
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: pipenv run python -m flake8

pylint:
  name: pylint
  language: system
  entry: pipenv run python -m pylint
  require_serial: true

toml-sort:
  name: toml-sort
  language: system
  entry: pipenv run toml-sort -a -i

docs: Add docs for commit convention. (#222)
  .vscode/settings.json
  docs/conf.py
  docs/dev/commit.md
  docs/dev/index.md
  template/.vscode/settings.json
  template/docs/conf.py.jinja
  template/docs/dev/commit.md
  template/docs/dev/index.md
Due: black, mypy, flake8, pylint

build: Update constraints for dependabot.
  constraints/3.10.txt
  constraints/3.11.txt
  constraints/3.12.txt
  constraints/3.8.txt
  constraints/3.9.txt
  template/constraints/3.10.txt
  template/constraints/3.11.txt
  template/constraints/3.12.txt
  template/constraints/3.8.txt
  template/constraints/3.9.txt
Due: none

docs: Add docs for release process.
  docs/dev/index.md
  docs/dev/release.md
  template/docs/dev/index.md
  template/docs/dev/release.md
Due: none

docs: Add docs for release process. (#224)
  docs/dev/index.md
  docs/dev/release.md
  template/docs/dev/index.md
  template/docs/dev/release.md
Due: none

docs: Fulfill the index of the development secion.
  .vscode/settings.json
  docs/dev/index.md
  template/.vscode/settings.json
  template/docs/dev/index.md
Due: none

docs: Fulfill the index of the development section. (#225)
  .vscode/settings.json
  docs/dev/index.md
  template/.vscode/settings.json
  template/docs/dev/index.md
Due: none

docs: Refine release process in development.
  docs/dev/release.md
  template/docs/dev/release.md
Due: none

docs: Refine release process in development. (#226)
  docs/dev/release.md
  template/docs/dev/release.md
Due: none

docs: Change the project description.
  README.md
  copier.yaml
  pyproject.toml
  template/pyproject.toml.jinja
Due: toml-sort

Minor.
  pyproject.toml
  template/pyproject.toml.jinja
Due: toml-sort

docs: Change the project description and keywords. (#227)
  README.md
  copier.yaml
  pyproject.toml
  template/pyproject.toml.jinja
Due: toml-sort

docs: Refine project configuration related part.
  docs/dev/proj.md
  template/docs/dev/proj.md
Due: none

ci(github): Set default value for TWINE_USERNAME env to '__token__'.
  .github/workflows/release.yml
  template/[% if repo_host_type == 'github.com' %].github[% endif %]/workflows/release.yml.jinja
Due: none

docs: Refine project configuration related part. (#231)
  docs/dev/proj.md
  template/docs/dev/proj.md
Due: none

ci(github): Set default value for TWINE_USERNAME env to '__token__'. (#232)
  .github/workflows/release.yml
  template/[% if repo_host_type == 'github.com' %].github[% endif %]/workflows/release.yml.jinja
Due: none

chore: Rename the repo to ss-python.
  .github/workflows/readthedocs-preview.yml
  Makefile
  README.md
  copier.yaml
  docs/api/settings.md
  docs/cli/index.md
  docs/conf.py
  docs/dev/proj.md
  includes/variable.jinja
  pyproject.toml
  src/ss_python/__init__.py
  src/ss_python/cli.py
  src/ss_python/settings.py
  template/Makefile.jinja
  template/README.md.jinja
  template/docs/dev/proj.md
  test/cli_test.py
  test/pkg_test.py
  test/settings_test.py
Due: black, mypy, flake8, pylint, toml-sort

chore: Rename the repo to ss-python. (#238)
  .github/workflows/readthedocs-preview.yml
  Makefile
  README.md
  copier.yaml
  docs/api/settings.md
  docs/cli/index.md
  docs/conf.py
  docs/dev/proj.md
  includes/variable.jinja
  pyproject.toml
  src/ss_python/__init__.py
  src/ss_python/cli.py
  src/ss_python/settings.py
  template/Makefile.jinja
  template/README.md.jinja
  template/docs/dev/proj.md
  test/cli_test.py
  test/pkg_test.py
  test/settings_test.py
Due: black, mypy, flake8, pylint, toml-sort

refactor: Better compatibility with multiple templates.
  .gitignore
  copier.yaml
  template/.copier-answers/{{_copier_conf.answers_file}}.jinja
  template/.gitignore.jinja
Due: none

Fix ci.
  .github/workflows/ci.yml
  template/[% if repo_host_type == 'github.com' %].github[% endif %]/workflows/ci.yml.jinja
Due: none

chore: Update gitignore.
  .gitignore
  template/.gitignore.jinja
Due: none

chore: Update gitignore. (#241)
  .gitignore
  template/.gitignore.jinja
Due: none

build: Update constraints for dependabot.
  constraints/3.8.txt
  template/constraints/3.10.txt
  template/constraints/3.11.txt
  template/constraints/3.12.txt
  template/constraints/3.8.txt
  template/constraints/3.9.txt
Due: none

Remove redundant recommended vscode extensions.
  .vscode/extensions.json
Due: none

Update configuration for ruff vscode extension.
  .vscode/settings.json
Due: none

Remove black and isort.
  .pre-commit-config.yaml
  Makefile
  README.md
  pyproject.toml
  requirements/lint.txt
Due: toml-sort

pre-commit format for vscode settings.
  .vscode/settings.json
Due: none

Update configuration and pre-commit/Makefile for ruff.
  .pre-commit-config.yaml
  Makefile
  docs/conf.py
  pyproject.toml
  src/ss_python/settings.py
Due: black, mypy, flake8, pylint, toml-sort

Update template.
  Makefile
  pyproject.toml
  template/.pre-commit-config.yaml.jinja
  template/.vscode/extensions.json
  template/.vscode/settings.json
  template/Makefile.jinja
  template/README.md.jinja
  template/docs/conf.py.jinja
  template/pyproject.toml.jinja
  template/requirements/lint.txt
  template/src/{{ module_name }}/settings.py.jinja
Due: toml-sort

chore: Sync ruff. (#246)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  README.md
  docs/conf.py
  pyproject.toml
  requirements/lint.txt
  src/ss_python/settings.py
  template/.pre-commit-config.yaml.jinja
  template/.vscode/extensions.json
  template/.vscode/settings.json
  template/Makefile.jinja
  template/README.md.jinja
  template/docs/conf.py.jinja
  template/pyproject.toml.jinja
  template/requirements/lint.txt
  template/src/{{ module_name }}/settings.py.jinja
Due: black, mypy, flake8, pylint, toml-sort

chore: Minor change pre-commit config with reformat.
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

Update template.
  template/.pre-commit-config.yaml.jinja
  template/.vscode/settings.json
Due: none

chore: Minor change pre-commit config with reformat. (#247)
  .pre-commit-config.yaml
  .vscode/settings.json
  template/.pre-commit-config.yaml.jinja
  template/.vscode/settings.json
Due: none

Update template.
  template/[% if repo_host_type == 'github.com' %].github[% endif %]/workflows/release.yml.jinja
Due: none

Update template.
  template/[% if repo_host_type == 'github.com' %].github[% endif %]/workflows/ci.yml.jinja
  template/[% if repo_host_type == 'github.com' %].github[% endif %]/workflows/release.yml.jinja
Due: none

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: \.toml$
