Repository serious-scaffold/ss-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, flake8, pylint, toml-sort

black:
  name: black
  language: system
  entry: pipenv run python -m black

mypy:
  name: mypy
  language: system
  entry: make mypy
  require_serial: true
  pass_filenames: false

flake8:
  name: flake8
  language: system
  entry: pipenv run python -m flake8

pylint:
  name: pylint
  language: system
  entry: pipenv run python -m pylint
  require_serial: true

toml-sort:
  name: toml-sort
  language: system
  entry: pipenv run toml-sort -a -i

Fix upper case for env.
  src/{{ module_name }}/settings.py.jinja
  tests/settings_test.py.jinja
Due: none

Add copier jinja.
  README.md.jinja
  copier.yaml
  pyproject.toml.jinja
Due: none

Fix FUNDING template.
  .github/FUNDING.yml.jinja
Due: none

Add README.md.jinja.
  README.md.jinja
Due: none

Unify README template.
  README.md.jinja
Due: none

Fix package name in docs conf.
  docs/conf.py
  docs/conf.py.jinja
Due: black, mypy, flake8, pylint

Remove .copier-answers.yml in make clean.
  Makefile.jinja
Due: none

Fix package name in docs index.
  docs/index.rst
  docs/index.rst.jinja
Due: none

Fix tests.
  Makefile
  Makefile.jinja
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Test for condition.
  .gitignore.jinja
Due: none

Update .gitignore.
  .gitignore
Due: none

Add condition in Makefile, pyproject and gitignore template.
  .gitignore.jinja
  Makefile.jinja
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Update docs conf & index template.
  docs/conf.py
  docs/conf.py.jinja
  docs/index.rst
  docs/index.rst.jinja
Due: black, mypy, flake8, pylint

Update pyproject template.
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Fix docs index template.
  docs/index.rst.jinja
Due: none

Fix Makefile template.
  Makefile
  Makefile.jinja
Due: none

Fix settings docs template.
  docs/modules/{{ module_name }}.settings.rst.jinja
Due: none

Add exclude for copier.
  copier.yaml
Due: none

Add usage in README and remove copier in roadmap.
  README.md
Due: none

Integrate with copier template. (#16)
  .github/FUNDING.yml.jinja
  .github/workflows/ci.yml
  .github/workflows/readthedocs-preview.yml.jinja
  .gitignore.jinja
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile.jinja
  README.md.jinja
  copier.yaml
  docs/cli/index.rst.jinja
  docs/conf.py.jinja
  docs/index.rst.jinja
  docs/modules/index.rst.jinja
  docs/modules/{{ module_name }}.settings.rst.jinja
  pyproject.toml.jinja
  requirements/tests.txt
  src/{{ module_name }}/__init__.py
  src/{{ module_name }}/cli.py
  src/{{ module_name }}/settings.py.jinja
  tests/cli_test.py.jinja
  tests/pkg_test.py
  tests/pkg_test.py.jinja
  tests/settings_test.py.jinja
  {{_copier_conf.answers_file}}.jinja
Due: black, mypy, flake8, pylint

Refine readme.
  README.md
Due: none

Update README template.
  README.md.jinja
Due: none

Update README.
  README.md
Due: none

Refine README. (#17)
  README.md
  README.md.jinja
Due: none

Use different Python versions as flags for codecov.
  .github/workflows/ci.yml
Due: none

Fix CI trigger in Github Actions.
  .github/workflows/ci.yml
Due: none

Fix Github Actions for codecov.
  .github/workflows/ci.yml
Due: none

Use different Python versions as flags for codecov. (#18)
  .github/workflows/ci.yml
Due: none

No redundant newline at the end of coper answers file.
  {{_copier_conf.answers_file}}.jinja
Due: none

No redundant newline at the end of coper answers file. (#19)
  {{_copier_conf.answers_file}}.jinja
Due: none

Update constraints.
  constraints/default.txt
Due: none

Update pyproject.toml and the corresponding template.
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Update constraints and pyproject.toml. (#20)
  constraints/default.txt
  pyproject.toml
  pyproject.toml.jinja
Due: toml-sort

Integrate with yaml.
  .github/FUNDING.yml
  .github/workflows/ci.yml
  .github/workflows/package.yml
  .github/workflows/readthedocs-preview.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  .vscode/extensions.json
  .vscode/settings.json
  copier.yaml
Due: none

Update template.
  .github/FUNDING.yml.jinja
  .github/workflows/readthedocs-preview.yml.jinja
Due: none

Integrate with yaml sort. (#21)
  .github/FUNDING.yml
  .github/FUNDING.yml.jinja
  .github/workflows/ci.yml
  .github/workflows/package.yml
  .github/workflows/readthedocs-preview.yml
  .github/workflows/readthedocs-preview.yml.jinja
  .pre-commit-config.yaml
  .readthedocs.yaml
  .vscode/extensions.json
  .vscode/settings.json
  copier.yaml
Due: none

Path conditions:
  black: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: \.toml$
